*{
  margin: 0px;
  color: rgb(19, 18, 18);
}
body{
  background-color: #BE3144;
}
.link{
  margin-left: 5px;
  margin-top: 50px;
  // padding-top: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 5vmin;
  color: white;
}
.link:hover{
  color: #E3651D;
}
.link1{
  margin-left: 5px;
  // margin-top: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 4vmin;
  color: black;
}
.link1:hover{
  color: #E3651D;
}